@import url('./vendor/reset.css');

@import url('./components/texts.css');
@import url('./components/raptor.css');
@import url('./components/header.css');
@import url('./components/services.css');
@import url('./components/contacts.css');

html {
  min-height: 100%;
}

body {
	background-origin: content-box;
	background: linear-gradient(25deg , rgba(221, 221, 221, 0.9) 50%, rgba(198, 204, 207, 0.9) 50%, rgba(198, 204, 207, 0.9) 85%, rgba(179, 188, 196, 0.9) 85%), url('../image/back_image.webp');
	background-size: auto, 100vw 100%;
	background-repeat: no-repeat;
	min-height: 100%;
}

@font-face {
  font-family: 'Helvetica Neue Cyr';
  src: url('./vendor/fonts/Helvetica/HelveticaRegular.ttf')  format('truetype'); /* Safari, Android, iOS */
}
